extends ../layout

block content
    a(href='/bicicletas')  Volver
    h1 Nueva Bicicleta
    br
    br
    form(action='/bicicletas/create' method='post')
        label(for='id') ID:
        br
        input#bici_id(type='text' name='id')
        br
        label(for='color') Color:
        br
        input#color(type='text' name='color')
        br
        label(for='modelo') Modelo:
        br
        input#lat(type='text' name='modelo')
        br
        label(for='lat') Latitud:
        br
        input#lat(type='text' name='lat')
        br
        label(for='long') Longitud:
        br
        input#longitud(type='text' name='long')
        br
        input.btn(type='submit' value='Crear')