extends ../layout

block content
    a(href='/bicicletas')  Volver
    h1 Editar Bicicleta
    br
    br
    form(action=`/bicicletas/${bici.id}/update` method='post')
        label(for='id') ID:
        br
        input#bici_id(type='text' name='id' value=bici.id)
        br
        label(for='color') Color:
        br
        input#color(type='text' name='color' value=bici.color)
        br
        label(for='modelo') Modelo:
        br
        input#lat(type='text' name='modelo' value=bici.modelo)
        br
        label(for='lat') Latitud:
        br
        input#lat(type='text' name='lat' value=bici.ubicacion[0])
        br
        label(for='long') Longitud:
        br
        input#longitud(type='text' name='long' value=bici.ubicacion[1])
        br
        input.btn(type='submit' value='Crear')